// Bootstrap overrides for this template
.btn-outline {
  font-size: 20px;
  margin-top: 15px;
  transition: all 0.3s ease-in-out;
  color: white;
  border: solid 2px white;
  background: transparent;
  &.active,
  &:active,
  &:focus,
  &:hover {
    color: material-color($secondary-color, '500');
    border: solid 2px white;
    background: white;
  }
}

.btn-primary {
  font-weight: 700;
  @include button-variant(white, material-color($primary-color, '500'), material-color($primary-color, '500'));
}

.btn-success {
  font-weight: 700;
  @include button-variant(white, material-color($secondary-color, '500'), material-color($secondary-color, '500'));
}

.btn-social {
  font-size: 20px;
  line-height: 45px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  border: 2px solid white;
  border-radius: 100%;
}
.btn-social.boldidea {
  border: none;
}
.btn.active,
.btn:active,
.btn:focus {
  outline: none;
}
