// Styling for the masthead
header.masthead {

  text-align: center;

  color: white;
  .masthead-main {
    background: material-color($primary-color, '500');
    padding-top: 100px;
    padding-bottom: 20px;
  }
  .masthead-sub {
    background: material-color($primary-color, '300');
    padding: 20px;
    .btn-primary {
      font-size: 1em;
      background: material-color($secondary-color, '500');
    }
  }
  img {
    display: block;
    border-radius: 100%;
    margin: 0 auto 20px;
  }
  .intro-text {
    .name {
      font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 2em;
      font-weight: 700;

      display: block;

      text-transform: uppercase;
    }
    .skills {
      font-size: 1.25em;
      font-weight: 300;
    }
  }
}
@media(min-width:768px) {
  header.masthead {
    .masthead-main {
      padding-top: 150px;
    }
    .masthead-sub {
      padding: 30px;
    }
    .intro-text {
      .name {
        font-size: 4.75em;
      }
      .skills {
        font-size: 1.75em;
      }
    }
  }
}
