// Variables

// Gray and Brand Colors for use across theme

$primary-color: 'blue';
$secondary-color: 'orange';

$theme-primary: #2C3E50;
$theme-success: #18BC9C;

$gray-base: #000;
$gray-darker: lighten($gray-base, 13.5%);
$gray-dark: lighten($gray-base, 20%);
$gray: lighten($gray-base, 33.5%);
$gray-light: lighten($gray-base, 46.7%);
$gray-lighter: lighten($gray-base, 93.5%);
